<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260379969'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260379969%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

  <body class="theme-base-0c">

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

	{% include footer.html %}
	
  </body>
</html>
